PyQt5
IPython
brotli
brotlicffi
beautifulsoup4
certifi
chardet
charset_normalizer
colorama
cryptography
docutils
emoji
filelock
google
html5lib
idna
ipywidgets
jupyter
keyring
lxml
matplotlib
numpy
packaging
pandas
panel
pip
paramiko
psutil
pywifi
pytest
redis
requests
rich
simplejson
soupsieve
sphinx
urllib3
wheel
zstandard
